@font-face
    font-family: 'SuisseIntl-SemiBold'
    src: url(../fonts/SuisseIntl/SuisseIntl-SemiBold.woff)
    font-weight: 600

@font-face
    font-family: 'Kalam-Regular'
    src: url(../fonts/kalam/Kalam-Regular.woff)

@font-face
    font-family: 'Kalam-Bold'
    src: url(../fonts/kalam/Kalam-Bold.woff)

@font-face
    font-family: 'KaushanScript-Regular'
    src: url(../fonts/kaushan/KaushanScript-Regular.woff)

@font-face
    font-family: 'Play-Bold'
    src: url(../fonts/play/Play-Bold.woff)

@font-face
    font-family: 'Play-Regular'
    src: url(../fonts/play/Play-Regular.woff)