.fav__page#newYear2024
  .welcome
    .welcome__container
      .welcome__title
        .welcome__title-bottom
          picture
            source(media="(min-width: 1025px) " srcset="./img/welcome/welcome-title-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/welcome/welcome-title-tab.png")
            source(media="(max-width: 550px)" srcset="./img/welcome/welcome-title-mob.png")
            img(src="./img/welcome/welcome-title-desc.png" alt="Favbet")
      .welcome__wrap
        .welcome__ball
          .welcome__ball-img
            picture
              source(media="(min-width: 1025px) " srcset="./img/welcome/ball-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/welcome/ball-tab.png")
              source(media="(max-width: 550px)" srcset="./img/welcome/ball-mob.png")
              img(src="./img/welcome/ball-desc.png" alt="Favbet")
          .salut.salut-one
          .salut.salut-two
          .salut.salut-three
          .salut.salut-fourth
        .welcome__sam
          .welcome__sam-img
            picture
              source(media="(min-width: 1025px) " srcset="./img/welcome/sam-welcome-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/welcome/sam-welcome-tab.png")
              source(media="(max-width: 550px)" srcset="./img/welcome/sam-welcome-mob.png")
              img(src="./img/welcome/sam-welcome-desc.png" alt="Favbet")
          .welcome__sam-text
            .welcome__sam-text-wrap(data-translate='welcomeSamTxt')
      .welcome__info
        a(href="/login/" target="_blank" role="button" data-translate="loginBtn").welcome__btn.custom-btn.unauth-msg 
        .welcome__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn") 
        a(href="/casino/nypromosem/" role="button" data-translate="playBtn").welcome__btn.custom-btn.took-part.hide 
        .welcome__date(data-translate='promoDate')
  .info.noDecor
    .info__container
      .info__row.info__row-third
        .info__image
          picture
            source(media="(min-width: 1025px) " srcset="./img/info/sam-third-info-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/info/sam-third-info-tab.png")
            source(media="(max-width: 550px)" srcset="./img/info/sam-third-info-mob.png")
            img(src="./img/info/sam-third-info-desc.png" alt="Favbet")
        .info__wrap
          .info__title(data-translate="infoTitle")
          .info__prize
            .info__prize-title
              picture.uk
                source(media="(min-width: 1025px) " srcset="./img/info/prize-title-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/info/prize-title-desc.png")
                source(media="(max-width: 550px)" srcset="./img/info/prize-title-mob.png")
                img(src="./img/info/prize-title-desc.png" alt="Favbet")
              picture.en
                source(media="(min-width: 1025px) " srcset="./img/info/prize-title-desc-en.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/info/prize-title-desc-en.png")
                source(media="(max-width: 550px)" srcset="./img/info/prize-title-mob-en.png")
                img(src="./img/info/prize-title-desc-en.png" alt="Favbet")
              .info__prize-title-text(data-translate="infoPrizeTitle")
          .info__list
            .info__item(data-translate="infoTxt-1") 
            .info__item(data-translate="infoTxt-2")
  .rules
    .rules__container
      .rules__subtitle(data-translate='rulesTitle')
      .rules__list
        .rules__item
          .rules__item-wrap
            .rules__item-img
              picture
                source(media="(min-width: 1025px) " srcset="./img/rules/rules-ball1-desc.png")
                source(media="(max-width: 1024px)" srcset="./img/rules/rules-ball1-mob.png")
                img(src="./img/rules/rules-ball1-desc.png" alt="Favbet")
            .rules__item-title(data-translate='rulesTitle-1')
          .rules__item-text(data-translate='rulesTxt-1')
        .rules__item
          .rules__item-wrap
            .rules__item-img
              picture
                source(media="(min-width: 1025px) " srcset="./img/rules/rules-ball2-desc.png")
                source(media="(max-width: 1024px)" srcset="./img/rules/rules-ball2-mob.png")
                img(src="./img/rules/rules-ball2-desc.png" alt="Favbet")
            .rules__item-title(data-translate='rulesTitle-2')
          .rules__item-text(data-translate='rulesTxt-2')
        .rules__item
          .rules__item-wrap
            .rules__item-img
              picture
                source(media="(min-width: 1025px) " srcset="./img/rules/rules-ball3-desc.png")
                source(media="(max-width: 1024px)" srcset="./img/rules/rules-ball3-mob.png")
                img(src="./img/rules/rules-ball3-desc.png" alt="Favbet")
            .rules__item-title(data-translate='rulesTitle-3')
          .rules__item-text(data-translate='rulesTxt-3')
        .rules__item
          .rules__item-wrap
            .rules__item-img
              picture
                source(media="(min-width: 1025px) " srcset="./img/rules/rules-ball4-desc.png")
                source(media="(max-width: 1024px)" srcset="./img/rules/rules-ball4-mob.png")
                img(src="./img/rules/rules-ball4-desc.png" alt="Favbet")
            .rules__item-title(data-translate='rulesTitle-4')
          .rules__item-text(data-translate='rulesTxt-4')
      a(href="/login/" target="_blank" role="button" data-translate="loginBtn").rules__btn.custom-btn.unauth-msg 
      .rules__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn") 
      a(href="/casino/nypromosem/" role="button" data-translate="playBtn").rules__btn.custom-btn.took-part.hide 
      details.custom-drop.rules__drop
        summary.custom-drop-title #[span(data-translate="rulesDropTitle") ] <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M2 8.5321L12 16.6172L22 8.53211" stroke="white" stroke-width="3"/></svg>
        .custom-drop-txt
          .custom-drop-txt-wrap(data-translate="rulesDropTxt")
  .info
    .info__container
      .info__row.info__row-one
        .info__image
          picture
            source(media="(min-width: 1025px) " srcset="./img/info/sam-one-info-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/info/sam-one-info-tab.png")
            source(media="(max-width: 550px)" srcset="./img/info/sam-one-info-mob.png")
            img(src="./img/info/sam-one-info-desc.png" alt="Favbet")
        .info__wrap
          .info__title(data-translate="casinoTitle")
          .info__list
            .info__item(data-translate="casinoTxt-1")
            .info__item(data-translate="casinoTxt-2")
            .info__item(data-translate="casinoTxt-3")
          a(href="/login/" target="_blank" role="button" data-translate="loginBtn").info__btn.custom-btn.unauth-msg 
          .info__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn")
          a(href="/casino/nypromosem/" role="button" data-translate="playBtn").info__btn.custom-btn.took-part.hide 
      .info__row.info__row-two
        .info__wrap
          .info__title(data-translate="sportTitle") Pariuri sportive
          .info__list
            .info__item(data-translate="sportTxt-1") Pariază pe evenimente din secțiunile Sport & Live, adună puncte și intră în lupta pentru primul loc.
            .info__item(data-translate="sportTxt-2") Pariul minim este de 50 de lei. Pentru fiecare 50 de lei câștigați vei acumula 1 punct.
          a(href="/login/" target="_blank" role="button" data-translate="loginBtn").info__btn.custom-btn.unauth-msg 
          .info__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn") Plasează un Pariu
          a(href="/sports/sport/soccer/" role="button" data-translate="playBtn").info__btn.custom-btn.took-part.hide
        .info__image
          picture
            source(media="(min-width: 1025px) " srcset="./img/info/sam-two-info-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/info/sam-two-info-tab.png")
            source(media="(max-width: 550px)" srcset="./img/info/sam-two-info-mob.png")
            img(src="./img/info/sam-two-info-desc.png" alt="Favbet")
  .result
    .result__container
      .result__title(data-translate='resultTitle')
      .tableResults
        .tableResults__container
          .tableResults__tabs
            .tableResults__tabs-item.active #[span(data-translate="week")] #[span 1]
            .tableResults__tabs-item #[span(data-translate="week")] #[span 2]
            .tableResults__tabs-item #[span(data-translate="week")] #[span 3]
            .tableResults__tabs-item #[span(data-translate="week")] #[span 4]
          .tableResults__wrap#results-table
            .tableResults__head
              .tableResults__head-list
                .tableResults__head-col(data-translate='tableHeadPlace')
                .tableResults__head-col(data-translate='tableHeadID')
                .tableResults__head-col(data-translate='tableHeadPoints')
                .tableResults__head-col(data-translate='tableHeadPrize')
            .tableResults__body#top-users
            .tableResults__body-other
      a(href="/login/" target="_blank" role="button" data-translate="loginBtn").result__btn.custom-btn.unauth-msg
      .result__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn") 
      a(href="/casino/nypromosem/" role="button" data-translate="playBtn").result__btn.custom-btn.took-part.hide 
  .game
    .game__container
      .game__title(data-translate="gameTitle")
      .game__house.week1
        .game__list.week1
          .game__list-title
            picture.uk
              source(media="(min-width: 1025px) " srcset="./img/games/firstWeek-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/firstWeek-tab.png")
              source(media="(max-width: 550px)" srcset="./img/games/firstWeek-mob.png")
              img(src="./img/games/firstWeek-desc.png" alt="Favbet")
            picture.en
              source(media="(min-width: 1025px) " srcset="./img/games/en/firstWeek-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/en/firstWeek-tab.png")
              source(media="(max-width: 550px)" srcset="./img/games/en/firstWeek-mob.png")
              img(src="./img/games/en/firstWeek-desc.png" alt="Favbet")
          a(href='/casino/pateplay/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game1-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game1-mob.png")
              img(src="./img/games/week1/game1-desc.png" alt="Favbet")
          a(href='/casino/gamomat/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game2-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game2-mob.png")
              img(src="./img/games/week1/game2-desc.png" alt="Favbet")
          a(href='/casino/pushgaming/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game3-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game3-mob.png")
              img(src="./img/games/week1/game3-desc.png" alt="Favbet")
          a(href='/casino/wazdan/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game4-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game4-mob.png")
              img(src="./img/games/week1/game4-desc.png" alt="Favbet")
          a(href='/casino/stakelogic/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game5-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game5-mob.png")
              img(src="./img/games/week1/game5-desc.png" alt="Favbet")
          a(href='/casino/bf-games/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game6-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game6-mob.png")
              img(src="./img/games/week1/game6-desc.png" alt="Favbet")
          a(href='/casino/rubyplay/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game7-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game7-mob.png")
              img(src="./img/games/week1/game7-desc.png" alt="Favbet")
          a(href='/casino/playson/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week1/game8-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week1/game8-mob.png")
              img(src="./img/games/week1/game8-desc.png" alt="Favbet")
        .game__list.week2
          .game__list-title
            picture.uk
              source(media="(min-width: 1025px) " srcset="./img/games/secondWeek-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/secondWeek-tab.png")
              source(media="(max-width: 550px)" srcset="./img/games/secondWeek-mob.png")
              img(src="./img/games/secondWeek-desc.png" alt="Favbet")
            picture.en
              source(media="(min-width: 1025px) " srcset="./img/games/en/secondWeek-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/en/secondWeek-tab.png")
              source(media="(max-width: 550px)" srcset="./img/games/en/secondWeek-mob.png")
              img(src="./img/games/en/secondWeek-desc.png" alt="Favbet")
          a(href='/casino/egt-digital/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game1-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game1-mob.png")
              img(src="./img/games/week2/game1-desc.png" alt="Favbet")
          a(href='/casino/endorphina/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game2-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game2-mob.png")
              img(src="./img/games/week2/game2-desc.png" alt="Favbet")
          a(href='/casino/skywind/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game3-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game3-mob.png")
              img(src="./img/games/week2/game3-desc.png" alt="Favbet")
          a(href='/casino/synotgames/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game4-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game4-mob.png")
              img(src="./img/games/week2/game4-desc.png" alt="Favbet")
          a(href='/casino/chilli-games/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game5-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game5-mob.png")
              img(src="./img/games/week2/game5-desc.png" alt="Favbet")
          a(href='/casino/evoplay/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game6-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game6-mob.png")
              img(src="./img/games/week2/game6-desc.png" alt="Favbet")
          a(href='/casino/netent/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game7-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game7-mob.png")
              img(src="./img/games/week2/game7-desc.png" alt="Favbet")
          a(href='/casino/ct-gaming/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week2/game8-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week2/game8-mob.png")
              img(src="./img/games/week2/game8-desc.png" alt="Favbet")
        .game__list.week3
          .game__list-title
            picture.uk
              source(media="(min-width: 1025px) " srcset="./img/games/thirdWeek-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/thirdWeek-tab.png")
              source(media="(max-width: 550px)" srcset="./img/games/thirdWeek-mob.png")
              img(src="./img/games/thirdWeek-desc.png" alt="Favbet")
            picture.en
              source(media="(min-width: 1025px) " srcset="./img/games/en/thirdWeek-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/en/thirdWeek-tab.png")
              source(media="(max-width: 550px)" srcset="./img/games/en/thirdWeek-mob.png")
              img(src="./img/games/en/thirdWeek-desc.png" alt="Favbet")
          a(href='/casino/pragmatic-play/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game1-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game1-mob.png")
              img(src="./img/games/week3/game1-desc.png" alt="Favbet")
          a(href='/casino/inspired-casino/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game2-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game2-mob.png")
              img(src="./img/games/week3/game2-desc.png" alt="Favbet")
          a(href='/casino/playn-go/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game3-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game3-mob.png")
              img(src="./img/games/week3/game3-desc.png" alt="Favbet")
          a(href='/casino/hacksaw/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game4-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game4-mob.png")
              img(src="./img/games/week3/game4-desc.png" alt="Favbet")
          a(href='/casino/platipus/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game5-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game5-mob.png")
              img(src="./img/games/week3/game5-desc.png" alt="Favbet")
          a(href='/casino/oryx/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game6-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game6-mob.png")
              img(src="./img/games/week3/game6-desc.png" alt="Favbet")
          a(href='/casino/indigo-magic/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game7-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game7-mob.png")
              img(src="./img/games/week3/game7-desc.png" alt="Favbet")
          a(href='/casino/bluberi/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week3/game8-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week3/game8-mob.png")
              img(src="./img/games/week3/game8-desc.png" alt="Favbet")
        .game__list.week4
          .game__list-title
            picture.uk
              source(media="(min-width: 1025px) " srcset="./img/games/fourthWeek-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/fourthWeek-tab.png")
              source(media="(max-width: 550px)" srcset="./img/games/fourthWeek-mob.png")
              img(src="./img/games/fourthWeek-desc.png" alt="Favbet")
            picture.en
              source(media="(min-width: 1025px) " srcset="./img/games/en/fourthWeek-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="./img/games/en/fourthWeek-tab.png")
              source(media="(max-width: 550px)" srcset="./img/games/en/fourthWeek-mob.png")
              img(src="./img/games/en/fourthWeek-desc.png" alt="Favbet")
          a(href='/casino/amusnet-interactive/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game1-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game1-mob.png")
              img(src="./img/games/week4/game1-desc.png" alt="Favbet")
          a(href='/casino/relax-gaming/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game2-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game2-mob.png")
              img(src="./img/games/week4/game2-desc.png" alt="Favbet")
          a(href='/casino/big-time-gaming/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game3-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game3-mob.png")
              img(src="./img/games/week4/game3-desc.png" alt="Favbet")
          a(href='/casino/reel-play/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game4-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game4-mob.png")
              img(src="./img/games/week4/game4-desc.png" alt="Favbet")
          a(href='/casino/boomerang/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game5-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game5-mob.png")
              img(src="./img/games/week4/game5-desc.png" alt="Favbet")
          a(href='/casino/fantasma/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game6-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game6-mob.png")
              img(src="./img/games/week4/game6-desc.png" alt="Favbet")
          a(href='/casino/print-studio/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game7-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game7-mob.png")
              img(src="./img/games/week4/game7-desc.png" alt="Favbet")
          a(href='/casino/spinomenal/all/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="./img/games/week4/game8-desc.png")
              source(media="(max-width: 1024px)" srcset="./img/games/week4/game8-mob.png")
              img(src="./img/games/week4/game8-desc.png" alt="Favbet")
      a(href="/login/" target="_blank" role="button" data-translate="loginBtn").game__btn.custom-btn.unauth-msg 
      .game__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn") 
      a(href="/casino/nypromosem/" role="button" data-translate="playBtn").game__btn.custom-btn.took-part.hide 
      details.custom-drop.rules__drop
        summary.custom-drop-title #[span(data-translate="resultDropTitle") ] <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M2 8.5321L12 16.6172L22 8.53211" stroke="white" stroke-width="3"/></svg>
        .custom-drop-txt
          .custom-drop-txt-wrap(data-translate="resultDropTxt")