button.test-btn(style='position: absolute; top:0; right: 0; z-index: 100;') light
.fav__page.overflow
  .welcome
    .welcome__container
      .welcome__pers
        picture
          source(media="(min-width: 1025px) " srcset="img/welcome/pers-desc.png")
          source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/welcome/pers-tab.png")
          source(media="(max-width: 550px)" srcset="img/welcome/pers-mob.png")
          img(src="img/welcome/pers-desc.png" alt="Favbet")
      .welcome__present
        picture
          source(media="(min-width: 1025px) " srcset="img/welcome/present-desc.png")
          source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/welcome/present-tab.png")
          source(media="(max-width: 550px)" srcset="img/welcome/present-mob.png")
          img(src="img/welcome/present-desc.png" alt="Favbet")
      .welcome__text
        .welcome__text-top(data-translate='welcome-title-top') Festivalul Iernii Favbet.
        .welcome__text-bottom(data-translate='welcome-title-bottom') Intră pe lista lui Moș Crăciun

  .detail
    .detail__container
      .detail__decor-one
      .detail__title(data-translate='detail-title') Începe Anul Nou cu cadouri de la FAVBET.
      .detail__text(data-translate='detail-text') Pariază pe sport, cu miză minimă 50 RON, și la casino, cu miză minimă 1 leu, și poți câștiga super premii, dar și bonusuri generoase.
      a(href='#' data-translate='link-auth').detail__btn.custom-btn Autentificare
      a(href='#' data-translate='link-auth').detail__btn.custom-btn.hidden Autentificare
      a(href='#' data-translate='link-auth').detail__btn.custom-btn.hidden Autentificare
      .detail__decor-two
  .prize
    .prize__container
      .prize__title(data-translate='prize-title') Iată ce a pregătit Moșul pentru tine
      .prize__row
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/prize/prize1-desc.png")
              source(media="(max-width: 550px)" srcset="img/prize/prize1-mob.png")
              img(src="img/prize/prize1-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize-item1') Televizor OLED Smart
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/prize/prize2-desc.png")
              source(media="(max-width: 550px)" srcset="img/prize/prize2-mob.png")
              img(src="img/prize/prize2-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize-item2') MacBook Air 15
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/prize/prize3-desc.png")
              source(media="(max-width: 550px)" srcset="img/prize/prize3-mob.png")
              img(src="img/prize/prize3-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize-item3') iPhone 15 Pro Max 256
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/prize/prize4-desc.png")
              source(media="(max-width: 550px)" srcset="img/prize/prize4-mob.png")
              img(src="img/prize/prize4-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize-item4') iPad pro 11
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/prize/prize5-desc.png")
              source(media="(max-width: 550px)" srcset="img/prize/prize5-mob.png")
              img(src="img/prize/prize5-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize-item5') Căști over-ear
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/prize/prize6-desc.png")
              source(media="(max-width: 550px)" srcset="img/prize/prize6-mob.png")
              img(src="img/prize/prize6-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize-item6') Consolă PS5 + Extra Controller
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/prize/prize7-desc.png")
              source(media="(max-width: 550px)" srcset="img/prize/prize7-mob.png")
              img(src="img/prize/prize7-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize-item7') Apple watch 9. 45 mm


  .info
    .info__container
      .info__prize-left
      .info__title(data-translate='info-title') Moș Crăciun este gata să împartă cadourile. Uite ce poți primi:
      a(href='#' data-translate='link-auth').info__btn.custom-btn Autentificare
      a(href='#' data-translate='link-auth').info__btn.custom-btn.hidden Autentificare
      a(href='#' data-translate='link-auth').info__btn.custom-btn.hidden Autentificare
      .info__prize-right
  .rules
    .rules__container
      .rules__title Cum participi:
      .rules__list
        .rules__item.rules__item-one
          .rules__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/rules/rules-img1-desc.png")
              source(media="(max-width: 550px)" srcset="img/rules/rules-img1-mob.png")
              img(src="img/rules/rules-img1-desc.png" alt="Favbet")
          .rules__item-text Înscrie-te în promoție

        .rules__item.rules__item-two
          .rules__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/rules/rules-img2-desc.png")
              source(media="(max-width: 550px)" srcset="img/rules/rules-img2-mob.png")
              img(src="img/rules/rules-img2-desc.png" alt="Favbet")
          .rules__item-text Pariază pe sport, de la 50 lei, și la casino, de la 1 leu (=1punct)
        .rules__item.rules__item-three
          .rules__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/rules/rules-img3-desc.png")
              source(media="(max-width: 550px)" srcset="img/rules/rules-img3-mob.png")
              img(src="img/rules/rules-img3-desc.png" alt="Favbet")
          .rules__item-text Adună puncte și câștigă premii sau bonusuri

      details.custom-drop.rules__drop
        summary.custom-drop-title(data-translate="rulesDropTitle") Detalii:
        .custom-drop-txt(data-translate="rulesDropTxt")
          .custom-drop-txt-wrap
            .title Lorem ipsum dolor sit amet, consec
            p 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 1.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            .title Lorem ipsum dolor sit amet, consec
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
  .result
    .result__bg
    .result__container
      .result__title(data-translate='result-title') Tabel rezultate
      .result__row
        .result__item
          .result__item-title(data-translate='resul-table1-title') Lista lui Moș Crăciun
          .tableResults
            .tableResults__container
              .tableResults__wrap#results-table-one
                .tableResults__head
                  .tableResults__head-list
                    .tableResults__head-col(data-translate="tableResults1_head-place") Loc
                    .tableResults__head-col(data-translate="tableResults1_head-id") User_id
                    .tableResults__head-col(data-translate="tableResults1_head-points") Premii
                .tableResults__body
                  .tableResults__row.place1
                    .tableResults__body-col 1
                    .tableResults__body-col 3647489
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row.place2
                    .tableResults__body-col 2
                    .tableResults__body-col 3647489
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row.place3
                    .tableResults__body-col 3
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row._yourPlace
                    .tableResults__body-col 4
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 5
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 6
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 7
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8888
                    .tableResults__body-col 8454929
                    .tableResults__body-col iShaurma 17 Max 258 mushrooms

                  .tableResults__row
                    .tableResults__body-col 6
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 7
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8888
                    .tableResults__body-col 8454929
                    .tableResults__body-col iShaurma 17 Max 258 mushrooms

        .result__item
          .result__item-title(data-translate='resul-table2-title') Solicitanți pe listă
          .tableResults
            .tableResults__container
              .tableResults__wrap#results-table-two
                .tableResults__head
                  .tableResults__head-list
                    .tableResults__head-col(data-translate="tableResults2_head-place") Loc
                    .tableResults__head-col(data-translate="tableResults2_head-id") User_id
                    .tableResults__head-col(data-translate="tableResults2_head-points") Premii
                .tableResults__body
                  .tableResults__row.place1
                    .tableResults__body-col 1
                    .tableResults__body-col 3647489
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row.place2
                    .tableResults__body-col 2
                    .tableResults__body-col 3647489
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row.place3
                    .tableResults__body-col 3
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row._yourPlace
                    .tableResults__body-col 4
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 5
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 6
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 7
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8888
                    .tableResults__body-col 8454929
                    .tableResults__body-col iShaurma 17 Max 258 mushrooms
                  .tableResults__row
                    .tableResults__body-col 6
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 7
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8888
                    .tableResults__body-col 8454929
                    .tableResults__body-col iShaurma 17 Max 258 mushrooms


      details.custom-drop.result__drop
        summary.custom-drop-title(data-translate="resultDropTitle") Termeni și condiții:
        .custom-drop-txt(data-translate="resultDropTxt")
          .custom-drop-txt-wrap
            p 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 1.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
  .footer
    .footer__container
      .footer__pers
        picture
          source(media="(min-width: 1025px) " srcset="img/welcome/pers-desc.png")
          source(media="(min-width: 771px) and (max-width: 1024px) " srcset="img/welcome/pers-tab.png")
          source(media="(max-width: 700px)" srcset="img/welcome/present-mob.png")
          img(src="img/welcome/pers-desc.png" alt="Favbet")
      .footer__wrap
        .footer__text
          .footer__text-top(data-translate='footer-title-top') Festivalul Iernii Favbet.
          .footer__text-bottom(data-translate='footer-title-bottom') Intră pe lista lui Moș Crăciun
        a(href='#' data-translate='link-auth').footer__btn.custom-btn Autentificare
        a(href='#' data-translate='link-auth').footer__btn.custom-btn.hidden Autentificare
        a(href='#' data-translate='link-auth').footer__btn.custom-btn.hidden Autentificare







