.fav__page#newYear2024
  .popup._hidden
    .prize-fund
      .prize-fund__container
        .prize-fund__wrap
          .prize-fund-close
          .prize-fund__title(data-translate='prizeTitle')
          .prize-fund__table
            .prize-fund__table-head
              .prize-fund__table-head-list
                .prize-fund__table-head-col(data-translate='tableHeadPlace')
                .prize-fund__table-head-col(data-translate='tableHeadPrize')
            .prize-fund__table-body
              .prize-fund__table-row
                .prize-fund__table-body-col 1
                .prize-fund__table-body-col(data-translate='prize_1')
              .prize-fund__table-row
                .prize-fund__table-body-col 2
                .prize-fund__table-body-col(data-translate='prize_2')
              .prize-fund__table-row
                .prize-fund__table-body-col 3
                .prize-fund__table-body-col(data-translate='prize_3')
              .prize-fund__table-row
                .prize-fund__table-body-col 4
                .prize-fund__table-body-col(data-translate='prize_4')
              .prize-fund__table-row
                .prize-fund__table-body-col 5
                .prize-fund__table-body-col(data-translate='prize_5')
              .prize-fund__table-row
                .prize-fund__table-body-col 6-10
                .prize-fund__table-body-col(data-translate='prize_6-10')
              .prize-fund__table-row
                .prize-fund__table-body-col 11-50
                .prize-fund__table-body-col(data-translate='prize_11-50')
              .prize-fund__table-row
                .prize-fund__table-body-col 51-100
                .prize-fund__table-body-col(data-translate='prize_51-100')
              .prize-fund__table-row
                .prize-fund__table-body-col 101-200
                .prize-fund__table-body-col(data-translate='prize_101-200')
              .prize-fund__table-row
                .prize-fund__table-body-col 201-300
                .prize-fund__table-body-col(data-translate='prize_201-300')
              .prize-fund__table-row
                .prize-fund__table-body-col 301-400
                .prize-fund__table-body-col(data-translate='prize_301-400')
              .prize-fund__table-row
                .prize-fund__table-body-col 401-500
                .prize-fund__table-body-col(data-translate='prize_401-500')
              .prize-fund__table-row
                .prize-fund__table-body-col 501-600
                .prize-fund__table-body-col(data-translate='prize_501-600')
              .prize-fund__table-row
                .prize-fund__table-body-col 601-650
                .prize-fund__table-body-col(data-translate='prize_601-650')
              .prize-fund__table-row
                .prize-fund__table-body-col 651-700
                .prize-fund__table-body-col(data-translate='prize_651-700')
    //POP-UP QUESTS
    .quest
      .quest__container
        .quest__wrap
          .quest__top
            .quest-close
            .quest__top-wrap
              .quest__image
                picture
                  source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/route/quest1-img-desc.png")
                  source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/route/quest1-img-mob.png")
                  img(src="https://fav-prom.com/html/ny-ua/img/route/quest1-img-desc.png" alt="Favbet")
              .quest__info
                .quest__title(data-translate="nameQuest-1")
                .quest__time
                  .quest__time-text(data-translate="endQuest")
                  .quest__time-num.timer(data-translate="timer")
            .quest__des
              .quest__des-title(data-translate="quest-1")
              .quest__des-text(data-translate="descrQuest-1")
          .quest__bottom
            .quest__list
              .quest__item
                .quest__item-wrap
                  .quest__item-title(data-translate="firstStep")
                  .quest__item-img
                    picture
                      source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/route/free-spin-desc.png")
                      source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/route/free-spin-mob.png")
                      img(src="https://fav-prom.com/html/ny-ua/img/route/free-spin-desc.png" alt="Favbet")
                  .quest__item-subtitle(data-translate="prizeQuest-1_1") Приз: #[span 50 фріспінів + 10 балів]

                .quest__item-info
                  .quest__item-info-text(data-translate="stepQuest-1_1")
                  .quest__item-info-progress.progress-1(data-progress='0%')
                    span.status 0/100
                    .progress
                  a(href="/login/" target="_blank" role="button" data-translate="loginBtn").quest__item-btn.custom-btn.unauth-msg
                  .quest__item-btn.custom-btn.questBtn.hide(role="button" data-translate="questBtn")
                  a(href="/casino/nypromosem/" role="button" data-translate="playBtn").quest__item-btn.custom-btn.took-part.firstPlay.hide
              .quest__item
                .quest__item-wrap
                  .quest__item-title(data-translate="secondStep")
                  .quest__item-img
                    picture
                      source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/route/free-spin-desc.png")
                      source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/route/free-spin-mob.png")
                      img(src="https://fav-prom.com/html/ny-ua/img/route/free-spin-desc.png" alt="Favbet")
                  .quest__item-subtitle(data-translate="prizeQuest-1_2")
                .quest__item-info
                  .quest__item-info-text(data-translate="stepQuest-1_2")
                  .quest__item-info-progress.progress-2(data-progress='0%')
                    span.status 0/250
                    .progress
                  a(href='#').quest__item-btn.custom-btn.secondBlockBtn._disabled
                    img(src='https://fav-prom.com/html/ny-ua/img/route/block.svg' alt='block')
                  a(href="/casino/nypromosem/" role="button" data-translate="playBtn").quest__item-btn.custom-btn.took-part.secondPlay.hide
              .quest__item
                .quest__item-wrap
                  .quest__item-title(data-translate="thirdStep")
                  .quest__item-img
                    picture
                      source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/route/free-spin-desc.png")
                      source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/route/free-spin-mob.png")
                      img(src="https://fav-prom.com/html/ny-ua/img/route/free-spin-desc.png" alt="Favbet")
                  .quest__item-subtitle(data-translate="prizeQuest-1_3")

                .quest__item-info
                  .quest__item-info-text(data-translate="stepQuest-1_3")
                  .quest__item-info-progress.progress-3(data-progress='0%')
                    span.status 0/400
                    .progress
                  a(href='#').quest__item-btn.custom-btn.thirdBlockBtn._disabled
                    img(src='https://fav-prom.com/html/ny-ua/img/route/block.svg' alt='block')
                  a(href="/casino/nypromosem/" role="button" data-translate="playBtn").quest__item-btn.custom-btn.took-part.thirdPlay.hide

  .welcome
    .welcome__container
      .welcome__title
        .welcome__title-top(data-translate='welcomeTitle')
        .welcome__title-bottom
          picture
            source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/welcome/welcome-title-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/ny-ua/img/welcome/welcome-title-tab.png")
            source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ua/img/welcome/welcome-title-mob.png")
            img(src="https://fav-prom.com/html/ny-ua/img/welcome/welcome-title-desc.png" alt="Favbet")
      .welcome__wrap
        .welcome__ball
          .welcome__ball-img
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/welcome/ball-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/ny-ua/img/welcome/ball-tab.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ua/img/welcome/ball-mob.png")
              img(src="https://fav-prom.com/html/ny-ua/img/welcome/ball-desc.png" alt="Favbet")
          .salut.salut-one
          .salut.salut-two
          .salut.salut-three
          .salut.salut-fourth
        .welcome__sam
          .welcome__sam-img
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/welcome/sam-welcome-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/ny-ua/img/welcome/sam-welcome-tab.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ua/img/welcome/sam-welcome-mob.png")
              img(src="https://fav-prom.com/html/ny-ua/img/welcome/sam-welcome-desc.png" alt="Favbet")
          .welcome__sam-text
            .welcome__sam-text-wrap(data-translate='welcomeSamTxt')
      .welcome__info
        a(href="/login/" target="_blank" role="button" data-translate="loginBtn").welcome__btn.custom-btn.unauth-msg
        .welcome__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn")
        a(href="/casino/nypromosem/" role="button" data-translate="playBtn").welcome__btn.custom-btn.took-part.hide
        .welcome__date(data-translate='promoDate')
        .welcome__text(data-translate='welcomeTxt')

  .rules
    .rules__container
      .rules__title
        .rules__title-top(data-translate='rulesTitle')
        .rules__title-bottom
          picture
            source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/rules/rules-title-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/ny-ua/img/rules/rules-title-tab.png")
            source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ua/img/rules/rules-title-mob.png")
            img(src="https://fav-prom.com/html/ny-ua/img/rules/rules-title-desc.png" alt="Favbet" class='rules-img')
          span.valut(data-translate='prizeValut')
          span.bonus + <img src='https://fav-prom.com/html/ny-ua/img/rules/sum.svg' alt='sum'> #[span(data-translate='freeSpins')]

      .rules__subtitle(data-translate='rulesSub')
      .rules__text(data-translate='rulesTxt')
      .rules__list
        .rules__item
          .rules__item-wrap
            .rules__item-img
              picture
                source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/rules/rules-ball1-desc.png")
                source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/rules/rules-ball1-mob.png")
                img(src="https://fav-prom.com/html/ny-ua/img/rules/rules-ball1-desc.png" alt="Favbet")
            .rules__item-title(data-translate='rulesTitle-1')
          .rules__item-text(data-translate='rulesTxt-1')
        .rules__item
          .rules__item-wrap
            .rules__item-img
              picture
                source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/rules/rules-ball2-desc.png")
                source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/rules/rules-ball2-mob.png")
                img(src="https://fav-prom.com/html/ny-ua/img/rules/rules-ball2-desc.png" alt="Favbet")
            .rules__item-title(data-translate='rulesTitle-2')
          .rules__item-text(data-translate='rulesTxt-2')
        .rules__item
          .rules__item-wrap
            .rules__item-img
              picture
                source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/rules/rules-ball3-desc.png")
                source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/rules/rules-ball3-mob.png")
                img(src="https://fav-prom.com/html/ny-ua/img/rules/rules-ball3-desc.png" alt="Favbet")
            .rules__item-title(data-translate='rulesTitle-3')
          .rules__item-text(data-translate='rulesTxt-3')
        .rules__item
          .rules__item-wrap
            .rules__item-img
              picture
                source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/rules/rules-ball4-desc.png")
                source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/rules/rules-ball4-mob.png")
                img(src="https://fav-prom.com/html/ny-ua/img/rules/rules-ball4-desc.png" alt="Favbet")
            .rules__item-title(data-translate='rulesTitle-4')
          .rules__item-text(data-translate='rulesTxt-4')
      a(href="/login/" target="_blank" role="button" data-translate="loginBtn").rules__btn.custom-btn.unauth-msg
      .rules__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn")
      a(href="/casino/nypromosem/" role="button" data-translate="playBtn").rules__btn.custom-btn.took-part.hide
      details.custom-drop.rules__drop
        summary.custom-drop-title #[span(data-translate="rulesDropTitle")] <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M2 8.5321L12 16.6172L22 8.53211" stroke="white" stroke-width="3"/></svg>
        .custom-drop-txt
          .custom-drop-txt-wrap(data-translate="rulesDropTxt")
  .info
    .info__container
      .info__row.info__row-one
        .info__image
          picture
            source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/info/sam-one-info-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/ny-ua/img/info/sam-one-info-tab.png")
            source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ua/img/info/sam-one-info-mob.png")
            img(src="https://fav-prom.com/html/ny-ua/img/info/sam-one-info-desc.png" alt="Favbet")
        .info__wrap
          .info__title(data-translate="casinoTitle")
          .info__text(data-translate="casinoTxt-1")
          .info__list
            .info__item(data-translate="casinoTxt-2")
            .info__item(data-translate="casinoTxt-3")
            .info__item(data-translate="casinoTxt-4")
          .info__subtext(data-translate="casinoTxt-5")
          a(href="/login/" target="_blank" role="button" data-translate="loginBtn").info__btn.custom-btn.unauth-msg
          .info__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn")
          a(href="/casino/nypromosem/" role="button" data-translate="playBtn").info__btn.custom-btn.took-part.hide
      .info__row.info__row-two
        .info__wrap
          .info__title(data-translate="sportTitle")
          .info__text(data-translate="sportTxt-1")
          .info__list
            .info__item(data-translate="sportTxt-2")
            .info__item(data-translate="sportTxt-3")
            .info__item(data-translate="sportTxt-4")
          a(href="/login/" target="_blank" role="button" data-translate="loginBtn").info__btn.custom-btn.unauth-msg
          .info__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn")
          a(href="/sports/sport/soccer/" role="button" data-translate="playBtn").info__btn.custom-btn.took-part.hide
        .info__image
          picture
            source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/info/sam-two-info-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/ny-ua/img/info/sam-two-info-tab.png")
            source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ua/img/info/sam-two-info-mob.png")
            img(src="https://fav-prom.com/html/ny-ua/img/info/sam-two-info-desc.png" alt="Favbet")

  //QUESTS
  .route
    .route__container
      .route__title
        //.route__title-top
        .route__title-bottom(data-translate="questTitle")
      .route__list

        .route__item.soon
          .route__item-img
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/route/quest1-img-desc.png").src__desc
              source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/route/quest1-img-mob.png").src__mob
              img(src="https://fav-prom.com/html/ny-ua/img/route/quest1-img-desc.png" alt="Favbet").src__default
          .route__item-wrap
            .route__item-title(data-translate="nameQuest-1")
            .route__item-subtitle(data-translate="quest-1") Квест № 1
            .route__item-text.timerTxt(data-translate="finishedTimer")
            .route__item-text.blockTxt(data-translate="blocked")
            .route__item-text.finishedTxt(data-translate="finished")
            .route__item-star(data-starQuest="1")
              .star
              .star
              .star

        .route__item.soon
          .route__item-img
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/route/quest2-img-desc.png").src__desc
              source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/route/quest2-img-mob.png").src__mob
              img(src="https://fav-prom.com/html/ny-ua/img/route/quest1-img-desc.png" alt="Favbet").src__default
          .route__item-wrap
            .route__item-title(data-translate="nameQuest-2")
            .route__item-subtitle(data-translate="quest-2")
            .route__item-text.timerTxt(data-translate="finishedTimer")
            .route__item-text.blockTxt(data-translate="blocked")
            .route__item-text.finishedTxt(data-translate="finished")
            .route__item-star(data-starQuest="2")
              .star
              .star
              .star

        .route__item.soon
          .route__item-img
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/route/quest3-img-desc.png").src__desc
              source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/route/quest3-img-mob.png").src__mob
              img(src="https://fav-prom.com/html/ny-ua/img/route/quest3-img-desc.png" alt="Favbet").src__default
          .route__item-wrap
            .route__item-title(data-translate="nameQuest-3")
            .route__item-subtitle(data-translate="quest-3")
            .route__item-text.timerTxt(data-translate="finishedTimer")
            .route__item-text.blockTxt(data-translate="blocked")
            .route__item-text.finishedTxt(data-translate="finished")
            .route__item-star(data-starQuest="3")
              .star
              .star
              .star

        .route__item.soon
          .route__item-img
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/route/quest4-img-desc.png").src__desc
              source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/route/quest4-img-mob.png").src__mob
              img(src="https://fav-prom.com/html/ny-ua/img/route/quest1-img-desc.png" alt="Favbet").src__default
          .route__item-wrap
            .route__item-title(data-translate="nameQuest-4")
            .route__item-subtitle(data-translate="quest-4")
            .route__item-text.timerTxt(data-translate="finishedTimer")
            .route__item-text.blockTxt(data-translate="blocked")
            .route__item-text.finishedTxt(data-translate="finished")
            .route__item-star(data-starQuest="4")
              .star
              .star
              .star
      a(href="/login/" target="_blank" role="button" data-translate="loginBtn").route__btn.custom-btn.unauth-msg
      .route__btn.custom-btn.questBtn.quest-start.hide(role="button" data-translate="questBtn")
      a(href="/casino/nypromosem/" role="button" data-translate="playBtn").route__btn.custom-btn.took-part.hide.quest-play
  .result
    .result__container
      .result__title(data-translate='resultTitle')
      .result__text(data-translate='resultTxt')
      .result__subtext(data-translate='prizeTitle')
      .tableResults
        .tableResults__container
          .tableResults__wrap#results-table
            .tableResults__head
              .tableResults__head-list
                .tableResults__head-col(data-translate='tableHeadPlace')
                .tableResults__head-col(data-translate='tableHeadID')
                .tableResults__head-col(data-translate='tableHeadPoints')
                .tableResults__head-col(data-translate='tableHeadPrize')
            .tableResults__body#top-users
            .tableResults__body-other
      a(href="/login/" target="_blank" role="button" data-translate="loginBtn").result__btn.custom-btn.unauth-msg
      .result__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn")
      a(href="/casino/nypromosem/" role="button" data-translate="playBtn").result__btn.custom-btn.took-part.hide
  .game
    .game__container
      .game__title
        picture
          source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/games/games-title-desc.png")
          source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/ny-ua/img/games/games-title-tab.png")
          source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ua/img/games/games-title-mob.png")
          img(src="https://fav-prom.com/html/ny-ua/img/games/games-title-desc.png" alt="Favbet")
      .game__house
        .game__list
          a(href='/casino/show-game/pragmatic-play/gates-of-olympus/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/games/game1-desc.png")
              source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/games/game1-mob.png")
              img(src="https://fav-prom.com/html/ny-ua/img/games/game1-desc.png" alt="Favbet")
          a(href='/casino/show-game/endorphina/royal-xmass-2/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/games/game2-desc.png")
              source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/games/game2-mob.png")
              img(src="https://fav-prom.com/html/ny-ua/img/games/game2-desc.png" alt="Favbet")
          a(href='/casino/show-game/3-oaks/sun-of-egypt-3/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/games/game3-desc.png")
              source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/games/game3-mob.png")
              img(src="https://fav-prom.com/html/ny-ua/img/games/game3-desc.png" alt="Favbet")
          a(href='/casino/show-game/barbara-bang/christmas-fruit-cocktails/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/games/game4-desc.png")
              source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/games/game4-mob.png")
              img(src="https://fav-prom.com/html/ny-ua/img/games/game4-desc.png" alt="Favbet")
          a(href='/casino/show-game/playson/royal-coins-2-hold-and-win/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/games/game5-desc.png")
              source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/games/game5-mob.png")
              img(src="https://fav-prom.com/html/ny-ua/img/games/game5-desc.png" alt="Favbet")
          a(href='/casino/show-game/spinomenal/1-reel-elves/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/games/game6-desc.png")
              source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/games/game6-mob.png")
              img(src="https://fav-prom.com/html/ny-ua/img/games/game6-desc.png" alt="Favbet")
          a(href='/casino/show-game/amusnet-interactive/supreme-hot/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/games/game7-desc.png")
              source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/games/game7-mob.png")
              img(src="https://fav-prom.com/html/ny-ua/img/games/game7-desc.png" alt="Favbet")
          a(href='/casino/show-game/greentube/diamond-link-mighty-santa/?playMode=real').game__link
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ua/img/games/game8-desc.png")
              source(media="(max-width: 1024px)" srcset="https://fav-prom.com/html/ny-ua/img/games/game8-mob.png")
              img(src="https://fav-prom.com/html/ny-ua/img/games/game8-desc.png" alt="Favbet")
      a(href="/login/" target="_blank" role="button" data-translate="loginBtn").game__btn.custom-btn.unauth-msg
      .game__btn.custom-btn.btn-join.hide(role="button" data-translate="partBtn")
      a(href="/casino/nypromosem/" role="button" data-translate="playBtn").game__btn.custom-btn.took-part.hide
      details.custom-drop.rules__drop
        summary.custom-drop-title #[span(data-translate="resultDropTitle")] <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M2 8.5321L12 16.6172L22 8.53211" stroke="white" stroke-width="3"/></svg>
        .custom-drop-txt
          .custom-drop-txt-wrap(data-translate="resultDropTxt")


