button.test-btn(style='position: absolute; top:0; right: 0; z-index: 100;') light
.fav__page.overflow

  .result
    .result__bg
    .result__container
      .result__title(data-translate='result-title') Tabel rezultate
      .result__row
        .result__item
          .result__item-title(data-translate='resul-table1-title') Lista lui Moș Crăciun
          .tableResults
            .tableResults__container
              .tableResults__wrap#results-table-one
                .tableResults__head
                  .tableResults__head-list
                    .tableResults__head-col(data-translate="tableResults1_head-place") Loc
                    .tableResults__head-col(data-translate="tableResults1_head-id") User_id
                    .tableResults__head-col(data-translate="tableResults1_head-points") Premii
                .tableResults__body
                  .tableResults__row.place1
                    .tableResults__body-col 1
                    .tableResults__body-col 3647489
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row.place2
                    .tableResults__body-col 2
                    .tableResults__body-col 3647489
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row.place3
                    .tableResults__body-col 3
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row._yourPlace
                    .tableResults__body-col 4
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 5
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 6
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 7
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8888
                    .tableResults__body-col 8454929
                    .tableResults__body-col iShaurma 17 Max 258 mushrooms

                  .tableResults__row
                    .tableResults__body-col 6
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 7
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8888
                    .tableResults__body-col 8454929
                    .tableResults__body-col iShaurma 17 Max 258 mushrooms

        .result__item
          .result__item-title(data-translate='resul-table2-title') Solicitanți pe listă
          .tableResults
            .tableResults__container
              .tableResults__wrap#results-table-two
                .tableResults__head
                  .tableResults__head-list
                    .tableResults__head-col(data-translate="tableResults2_head-place") Loc
                    .tableResults__head-col(data-translate="tableResults2_head-id") User_id
                    .tableResults__head-col(data-translate="tableResults2_head-points") Premii
                .tableResults__body
                  .tableResults__row.place1
                    .tableResults__body-col 1
                    .tableResults__body-col 3647489
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row.place2
                    .tableResults__body-col 2
                    .tableResults__body-col 3647489
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row.place3
                    .tableResults__body-col 3
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row._yourPlace
                    .tableResults__body-col 4
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 5
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 6
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 7
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8888
                    .tableResults__body-col 8454929
                    .tableResults__body-col iShaurma 17 Max 258 mushrooms
                  .tableResults__row
                    .tableResults__body-col 6
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 7
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8
                    .tableResults__body-col 8454929
                    .tableResults__body-col iPhone 15 Pro Max 256
                  .tableResults__row
                    .tableResults__body-col 8888
                    .tableResults__body-col 8454929
                    .tableResults__body-col iShaurma 17 Max 258 mushrooms


      details.custom-drop.result__drop
        summary.custom-drop-title(data-translate="resultDropTitle") Termeni și condiții:
        .custom-drop-txt(data-translate="resultDropTxt")
          .custom-drop-txt-wrap
            p 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 1.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit


//picture
//  source(media="(min-width: 1025px) " srcset="img/welcome/pers-desc.png")
//  source(media="(min-width: 771px) and (max-width: 1024px) " srcset="img/welcome/pers-tab.png")
//  source(media="(max-width: 700px)" srcset="img/welcome/present-mob.png")
//  img(src="img/welcome/pers-desc.png" alt="Favbet")
//
//
//
